*{
  margin: 0;
  padding: 0;
}
.main_div{
  width: 300px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.child_div{
  width: 100%;
}
.child_div h2{
  font-size: 28px;
  color: #333;
  text-align: center;
}
.addList{
  margin: 20px 0;
  display: flex;
}
.addList input{
  width: 80%;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
}
.addList .plus{
  background: #333;
  color: #fff;
  flex: 1;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: pointer;
}

.showItem{
  margin: 20px 0;
}
.eachItem{
  background: #333;
  color: #fff;
  height: 40px;
  display: flex;
  margin: 10px 0;
}
.eachItem h3{
  width: 80%;
  font-size: 16px;
  padding: 0 10px;
  line-height: 2.5;
}
.eachItem .minus{
  flex: 1;
  background: red;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  line-height: 2;
}
.clearList{
  display: flex;
  justify-content: center;
}
.clearList .clearBtn{
  background: red;
  height: 40px;
  font-size: 14px;
  color: #fff;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  font-size: 18px;
}